<!DOCTYPE html>
<html>
<head>
  <title>Todoapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<div class="nav">

	<h1><%= link_to "A Simple ToDo App", root_path %></h1>
	<li><%= link_to "Take me to my lists", todo_lists_path %></li>
	<br class="clear"/>
	
</div>
	<% flash.each do |type, message|%>
		<div class="alert flash <%= type %>">
		<%= message %>
		</div>
	<% end %>
<%= yield %>
</div>
</body>
</html>
